*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#CpasswordC{
    width: 100% !important; 
    height: 88vh !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 2rem ;
}

#setPassword input{
    outline: none;
}

#CPasswordInnerC{
    text-align: start;
    border-radius: 0.8rem;
    width: 80%;
    padding: 2rem;
    box-shadow: 1px 5px 22px 1px rgb(151, 150, 150);
}
#CPasswordInnerC h1{
    text-align: start;
    font-size: 1.2rem;
    font-weight: 700;
}

#CPasswordInnerC button{
    background-color: black;
    color: white;
    padding: 0.3rem 3rem;
    font-weight: 700;
    text-transform: capitalize;
    margin: 2rem 0rem;
}

#setPassword{
    /* padding: 2rem; */
    /* background-color: blueviolet !important; */
    width: 100% !important;
}
#setPassword label{
    font-size: 1.1rem;
    margin: 1.5rem 0rem 0.1rem 0rem;
    font-weight: 600;
}
#setPassword input{
    width: 100%;
    border: none;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    border-bottom: 1px solid gainsboro;
}







@media(min-width:1024px) and (max-width:1700px){
    #CpasswordC{
        margin-top: 1rem;
        padding: 0.5rem 0rem;
        height: 82vh !important;
        width: 73% !important;
    }
    #CPasswordInner{
        text-align:start !important;
        padding: 2rem;
        height: 65vh;
    }

}


@media(min-width:768px) and (max-width:992px){
    #CpasswordC{
        margin-top: 1rem;
        padding: 0.5rem 0rem;
        height: 82vh !important;
        width: 89% !important;
    }
    #CPasswordInnerC{
        text-align:start !important;
        padding: 2rem;
        width: 90% !important;
        height: 50vh !important;
    }
    #CPasswordInnerC h1{
        font-size: 1.7rem;
    }
    #setPassword label{
        font-size: 1.4rem !important;
        padding: 1rem 0rem 0.3rem 0rem;
    }
}


@media(min-width:280px) and (max-width:540px){
    #CpasswordC{
        margin-top: 1rem;
        padding: 0.5rem 0rem;
        height: 82vh !important;
        width: 89% !important;
    }
    #CPasswordInnerC{
        text-align:start !important;
        padding: 2rem;
        margin-left: 2rem;
        width: 100% !important;
        height: 73vh !important;
    }
    #CPasswordInnerC h1{
        font-size: 1.5rem;
    }
    #setPassword label{
        font-size: 1.1rem !important;
        padding: 1rem 0rem 0.3rem 0rem;
    }
}