.experienceBtn{
    background-color: white;
    border:  none;
}

.BorderLeft2{
    border: 1px solid gainsboro !important;
    border-radius: 0.7rem;
    padding: 0rem 1rem;
    /* background-color: aqua !important; */
}

.setPutPage{
    width: 100%;
    height:100vh;
    justify-content: center;
    justify-items: center;
    text-align: end;
    padding-top: 8rem;
    background-color: rgba(228, 228, 222, 0.315);
}
#routePut{
    width: 35%;
    height: 50vh;
}

@media(min-width:280px) and (max-width:540px){
    .setPutPage{
        width: 100%;
        height:100vh;
        justify-content: center;
        justify-items: center;
        text-align: end;
        padding: 1rem;
        background-color: rgba(228, 228, 222, 0.315);
    }
    #routePut{
        width: 100%;
        height: 70vh;
    }
}