*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#setCon{
    background-color: white;
    padding: 1rem 1rem;
    
}
#setCon h1{
    font-size: 1.1rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
#setCon img{
    height: 25vh;
}
